html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #f9f5ee;
}

main {
  flex: 1;
  padding: 20px; 
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: beige;
  font-family: 'Georgia', serif;
}

@font-face {
  font-family: 'Canterbury';
  src: url('/Canterbury.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}