.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  min-height: 90vh;
  margin: 0;
}

.title {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 5rem;
  font-family: 'Canterbury', serif;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  text-align: center;
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.slogan {
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Helvetica', sans-serif;
  font-size: 1rem;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1rem 1.5rem 0.25rem;
  text-align: center; 
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
  width: 100%; 
  font-family: 'Georgia', serif;
  background-color: #40526b;
  color: #fafafa;
}

.card h2,
.card p {
  font-weight: normal;
  font-size: 1.3rem;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card:is(:hover, :focus, :active) {
  background-color: #9faabb;
  color: #1d2732;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* media queries */
@media (max-width: 375px) {
  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.2rem;
    margin: 2rem 0;
  }

  .slogan {
    font-size: 0.8rem;
    text-align: center;
  }

  .card {
    width: calc(100% - 2rem);
    margin: 1rem auto; 
  }

  .card h2 {
    font-size: 0.9rem;
  }

  .card p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 3.5rem;
  }

  .description {
    font-size: 1.3rem;
    margin: 3rem 0;
  }

  .slogan {
    font-size: 0.9rem;
    text-align: center;
  }

  .card {
    max-width: 300px;
  }

  .card h2 {
    font-size: 1.1rem;
  }

  .card p {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .card {
    width: calc(100% - 2rem); 
    margin: 1rem auto; 
  }
}
