.main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: left; 
  }
  
  .newsResults {
    margin-top: 2rem;
    width: 100%; 
  }
  
  .article {
    margin-bottom: 2rem;
  }
  
  .title {
    font-size: 1.5rem;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: black; 
  }

  .trendTitle {
    font-size: 2.3rem;
  }
  
  .title:hover {
    text-decoration: underline;
    text-decoration-color: black; 
  }
  
  .subheading {
    font-family: Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 1px;
  }